body {
    margin: 0px;
    font-family: 'Arial', sans-serif;
    background: url('../img/bg.png') center/cover;
    ;
}

.welcome-header {
    position: relative;
    font-size: large;
    height: 100vh;
    background: url('../img/blue.gif') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.scroll-container {
    position: absolute;
    bottom: 20px;
}

.scroll {
    height: 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    /* Initial transparent background */
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* Ensure the navbar is on top of other elements */
    padding: 10px 0;
    color: white;
    transition: background-color 0.3s;
    /* Smooth transition effect */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    height: 32px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #66ccff;
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 5px;
    margin-right: 10px;
}

.highlight {
    background-color: #00ffcc;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    color: #0ac2cf;
}

.journal-container {
    flex: 1;
    margin: 50px 30px 50px 30px;
}

.journal-container h2 {
    border-bottom: 2px solid #0ac2cf;
    padding-bottom: 10px;
}

.journal-container ul, li, p {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 20px;
}

.poem {
    font-style: italic;
    text-align: center;
    color: #62c1f1;
    margin-left: 200px;
    margin-right: 200px;
}

.paragraph {
    text-align: justify;
    color: white;
}